arxiv
duckduckgo-search
faiss-cpu
fastapi
itsdangerous
langchain
openai==0.28.1
pdfplumber
pinecone-client
requests
sphinx
sphinx-autobuild
sphinx-rtd-theme
streamlit
tenacity
tiktoken
toml
unstructured[local-inference]
uvicorn[standard]
wikipedia
xata