arxiv
duckduckgo-search
faiss-cpu
langchain
openai
pdfplumber
pinecone-client
requests
sphinx
sphinx-autobuild
sphinx-rtd-theme
streamlit
tenacity
tiktoken
toml
unstructured[local-inference]
wikipedia
xata