arxiv
duckduckgo-search
faiss-cpu
fastapi
itsdangerous
langchain
langchain-openai
langchain-pinecone
openai
pdfplumber
pinecone-client
requests
sphinx
sphinx-autobuild
sphinx-rtd-theme
streamlit
tenacity
tiktoken
toml
unstructured[all-docs]
uvicorn[standard]
weaviate-client
wikipedia
xata
pytz